h3{
    text-align: center;
}
form{
    text-align: center;

}
input{
    padding: 10px;
    margin: 10px;

}
#location{
    text-align: center;
    color: green;
    margin: 20px;
    padding: 20px;
    text-size-adjust: 25px;


}